*{
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}


.calculadora {
    background-color: rgb(195, 231, 238);
    width: fit-content;
    margin: auto;
    margin-top: 35px;
}    
.teclas{
    display:flex ;
    
}
.pantalla{
    padding: 18%;
}
.numeros{
    padding: 18% 9px 18px 18px;
}
.numeros div{
    text-align: center;
}
.op{
    padding: 18px 18px 18px 9px;
}
.op button{

}
.numeros button{
    border: 0px;
    background-color: rgb(159, 185, 195);
    transition:all 0.09 ;
    
}
.numeros button{
    box-shadow: 0px 0px 12px #cccccc;
}
button{
    margin: 2px 0px;
    padding: 15px;
    font-size: 19px;

}